.cards {
  display: flex;
  justify-content: space-between;
}

.cards h3, p {
  color: black;
  margin-bottom: 27px;
}

.cards img {
  height: 100px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}
